/* sets the initial box size and font used */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* sets the padding around the logo */
.header {
    padding: .5em .5em 0 .5em;
}
  
/* sets the boundary and spacing for the navigation menus */
.main-nav-list, .menu-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
/* sets the font size and spacing for the navigation menus */
.main-nav-list li a, .main-nav-list, .menu-nav li a, .menu-nav li {
    color: rgb(112, 112, 112);
    font-size: 1.5vw;
    margin-bottom: 1em;
    text-decoration: none;
}

/* below two classes sets a different space between each nav link */
.main-nav-list, .main-nav-list li a {
    padding: 0 .9em 0 .9em;
}

.menu-nav li, .menu-nav li a {
    padding: 0 .6em 0 .6em;
}

/* sets the hover colour to red */
.menu-nav li a:hover, .main-nav li a:hover, .footer .col-6 a:hover {
    color: rgb(104, 0, 0);
}

/* sets the style for the drinks list */
.menulist {
    list-style: none;
    margin: 0;
    padding: 0 4em;
}

/* used for beverages and contact details */
h1 {
    color: rgb(104, 0, 0);
    font-size: 2vw;
    text-align: center;
}

/* used for the headings on the other menu pages */
h2 {
    font-size: 1.5vw;
}

/* sets the address text details */
.address {
    color: rgb(112, 112, 112);
    font-size: 1.5vw;
    text-align: center;
}

/* sets the footer settings */
.footer .col-6, .footer .col-6 a {
    color: rgb(112, 112, 112);
    font-size: 1vw;
    padding: 5px;
    text-align: center;
    text-decoration: none
}

/* sets a margin around the footer text */
.footer-text {
    margin: 1em;
}

/* used to center the logo */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* used to centre the facebook and instagram logos */
.social{
    text-align: center;
}

/* sets up the grid layout for the appetiser, main and dessert menus */
.menu-group {
    column-gap: 5vw;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2vw;
    padding: 2.5em 2.5em 0 2.5em;
}

/* allows each menu item to be either in one column or two */
.menu-item {
    display: flex;
}

/* sets the size of the images next to menu items */
.menu-item-image {
    flex-shrink: 0;
    height: 150px;
    margin-right: 1.5em;
    object-fit: cover;
    width: 150px;
}

/* allows the menu description text to grow to width of column */
.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    color: rgb(104, 0, 0);
    margin-right: 1.5em;
}

.menu-item-price {
    color: rgb(112, 112, 112);
}

.menu-item-description {
    line-height: 1.5em;
}

.drink-item-name {
    display: flex;
    justify-content: space-between;
    line-height: 1.5em;
    margin: 0;
}

/* sets the active menu page name to a static element */
.menu-nav-list .active {
    color: rgb(104, 0, 0);
    font-size: 1.5vw;
    margin: 0 0 1em 0;
    padding: 0 1.2em 0 1.2em;
    
}

/* the below two classes change the price colours for both the drinks and food */
.drinksprice {
    color: rgb(104, 0, 0);
}

.price {
    color:rgb(0, 0, 0)
}

/* sets a margin at the top of both nav menus */
.menu-nav, .main-nav {
    margin-top: 1vw;
}

/* sets main images width using an id */
.responsive-image {
    width: 100%;
}
  
/* using the after selector clears the floating elements to avoid any unexpected layout changes*/
.row::after {
    clear: both;
    content: "";
    display: block;
}

/* the following three entries used for the drinks menu to set the column widths. This was based on using 12 columns and dividing by 100% */

.col-3 {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.col-6 {
    float: left;
    padding: 15px;
    text-align: center;
    width: 50%;
}

.col-12 {
    float: left;
    padding: 15px;
    width: 100%;
}

.social-icons img {
    width: 60%;
}
.col-6 .map iframe {
    border: none;
    height: 450px;
    width: 100%;
}

.col-6 .calendar iframe {
    border: none;
    height: 500px;
    width: 100%;
}

.reservations {
    text-align: center;
}

.col-12 .reservations iframe {
    border: none;
    width: 100%;
}

/* for screens between 1120px and 800px */
@media only screen and (max-width: 1120px) {
    .menulist {
        padding: .2vw;
    }
}

/* this sections sets parameters for smaller screens */
@media only screen and (max-width: 800px) {
    [class*="col-"] {
      width: 100%;
    }
    .header img {
    height: auto;
    width: 100%;
    }
    .menu-group {
        grid-template-columns: 1fr;
        padding: 1.5em 1.5em 0 1.5em; 
    }
    .menu-item-image {
        height: 80px;
        width: 80px;
    }
    .footer .col-6, .footer .col-6 a {
        font-size: 3vw;
        padding: 0;
    }
    .footer-text {
        margin: .5em;
    }
    .main-nav li a, .menu-nav li a, .address, h2 {
        font-size: 4vw;
    }
    .menu-nav-list .active {
        font-size: 4vw;
    }
    .main-nav li a, .menu-nav li a {
        text-decoration: none;
    }
    h1 {
        font-size: 5vw;
    }
    .menulist {
        padding: 0 1em;
    }
    .menuitem {
        font-size: 3vw;
        margin: 0;
        text-align: justify;
    }
    .main-nav, .menu-nav {
        margin: 4vw 0 3vw 0;
    }
    .social-icons img {
        width: 30%;
    }
    /*.col-3 {
        padding: 0 5vw 0 5vw;
    }*/
}