* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
}
  
html {
    font-family: Arial, Helvetica, sans-serif;
}
  
.header {
    display: flex;
    color: #ffffff;
    padding: 15px;
}
  
.menu ul, .main-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu li, .menu li a {
    font-size: 1.5vw;
    padding: 0 8px 0 8px;
    margin-bottom: 7px;
    color: rgb(112, 112, 112);
}

.menu li a {
    text-decoration: none;
}

.menu li a:hover, .footer .col-6 a:hover {
    color: rgb(104, 0, 0);
}

.menuitem {
    font-size: 1vw;
    text-align: center;
    padding-top: 1vw;
}

h1 {
    font-size: 2vw;
    text-align: center;
    color: rgb(104, 0, 0);
}

.address {
    font-size: 1.5vw;
    color: rgb(112, 112, 112);
    text-align: center;
}
  
.footer .col-6, .footer .col-6 a {
    color: rgb(112, 112, 112);
    text-align: center;
    font-size: 1vw;
    padding: 5px;
    text-decoration: none
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.images {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: .5vw;
}

.social{
    text-align: center;
}

.menulist {
    list-style: none;
    text-align: center;
    padding: 0;
}

.active {
    font-size: 1.5vw;
    padding: 0 8px 0 8px;
    margin: 0 0 7px 0;
    color: rgb(104, 0, 0);
}

.dprice {
    color: rgb(104, 0, 0);
}

.price {
    color:rgb(112, 112, 112)
}

.menu {
    margin-top: 1vw;
}
  
/* For desktop: */
.col-6 {width: 50%;}
.col-12 {width: 100%;}
  
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .header img {
    width: 100%;
    height: auto;
}
    .footer .col-6, .footer .col-6 a {
        font-size: 3vw;
        padding: 0;
    }
    .menu li a, .active, .address {
        font-size: 4vw;
    }
    .menu li a {
        text-decoration: none;
    }
    h1 {
        font-size: 5vw;
    }
    .menuitem {
        font-size: 3vw;
    }
    .menulist {
        margin: 0;
    }
    .menu {
        margin: 4vw 0 3vw 0;
    }
}