* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
.page-wrap {
    height: calc(100vh - 10px);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px;
}
  
.page-wrap > * {
    text-align: center;
    font-size: 0;
}
  
.page-header {
    grid-column: 1/-1;
    margin-top: 1vw;
    font-size: 0;
}

.page-nav {
    grid-column: 1/-1;
    margin: 0;
    font-size: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5vw;
    margin-right: .5vw;
}

a {
    color:  rgb(112, 112, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-decoration: none;
}

a:hover, .page-footer a:hover {
    color: rgb(104, 0, 0);
}

#footer, #footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: rgb(112, 112, 112);
    text-align: left;
    padding-left: 1.5vw; 
}

.list-item {
    display: inline-block;
    padding: .5vw 1.5vw .5vw 1.5vw;
}

.nav-list, .mennav-list, .menulist {
    list-style-type: none;
    padding-left: 0;
}
  
.page-main {
    grid-column: 1/-1;
}
  
.page-footer, .page-footer a {
    grid-column: 1/-1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: rgb(112, 112, 112);
    text-align: left;
    padding-left: 1.5vw;
}

@media (max-width: 800px) {
    .page-wrap {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      font-size: 0;
    }
    .page-wrap > * {
      grid-column: 1/-1 !important;
      grid-row: auto !important;
      font-size: 0;
    }
    .page-header {
        margin-top: 3vw;
        font-size: 0;
    }
    .page-header img{
        width: 80%;
    }
    .page-footer {
        background-color: blue;
    }
    .flex-item-right, .flex-item-left {
        flex: 100%;
    }
    .menuitem, #footer, #footer a, .page-footer, .page-footer a {
        font-size:2.5vw;
        color: rgb(112, 112, 112);
        text-align: center;
    }
    h1 {
        font-size: 4vw;
    }
    .nav-list {
        margin: 0;
        font-size: 0;
    }
    .list-item {
        padding: 0 3vw 0 3vw;
        font-size: 0;
    }
    .list-item a, p, .priv-item {
        font-size: 4vw;
    }
    .mennav-list a, .mennav-item {
        font-size: 3vw;
        padding: 6vw 1vw;
    }
}